body{
    margin: 0;
    height: 3000px;
    padding-top: 80px;
    padding-left: 90px;
    padding-right: 24px;
    font-family: sans-serif;
    }
    p{
      margin-bottom: 0;
      margin-top: 0;
    }
    .thumbnail{
    width: 250px;
      height: 130px;
    }
    
    .vedio-title{
      margin-top: 0;
      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
      margin-bottom: 10px;
    }
    .vedio-preview{
    
    }
    .search-bar{
    flex: 1;
    width: 0 ;
    height: 34px;
    padding-left: 10px;
    font-size: 15px;
    border: 1px solid rgb(188, 184, 184);
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgb(0, 0, 0, 0.05 );
    }
    .search-bar::placeholder{
      font-size: 15px;
    }
    .channel-picture{
    
    }
    .vedio-info{
      display: inline-block;
    width: 200px;
    }
    .profile-picture{
         width: 30px; 
         border-radius: 15px;
         height: 30px;
    
         
    }
    .thumbnail-row{
      margin-bottom: 8px;
      position: relative;
      background-color: blue;
      width: 250px;
      
    }
    .vedio-author{
      font-size: 10px;
      color: rgb(87, 87, 87);
      margin-bottom: 5px;
    }
    .vedio-stat{
      font-size: 12px;
      color: rgb(87, 87, 87);
    }
    .vedio-info-grid{
      display: grid;
      grid-template-columns: 50px 1fr;
    }
    .video-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 30px;
      column-gap: 2px;
    }
    
    @media (min-width:1000px){
      .vedio-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
    
    .header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: white  ;
    border-bottom-width: 1px;
    border-bottom-style:solid ;
    border-bottom-color:rgb(218, 213, 213) ;
    z-index: 100;
    }
    .left-section{
    align-items: center;
    display: flex;
    }
    .middle-section{
       flex: 1;
       margin-left: 70px;
       margin-right: 35px;
       max-width: 5 00px;
       display: flex;
       align-items: center;
     }
    
    .right-section{
      width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
    }
    .youtube-logo{
      height: 20px;
    }
    .hamburger-menu{
      height: 24px;
      margin-left: 24px;
      margin-right: 20px;
    }
    .search-button,
    .upload-icon-div,
    .youtube-app-div,
    .voice-search-button,
    .sidebar-link{
    height: 38px;
    width: 50px;
    border-width: 1px;
    border-color: rgb(240, 228, 228);
    margin-right: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    }
    .search-button .tooltip,
    .upload-icon-div .tooltip,
    .youtube-app-div .tooltip,
    .voice-search-button .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding-top:4px ;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    border-radius: 2px;
    font-size: 10px;
    bottom: -30px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    }
    
    .sidebar-link .tooltip{
      position: absolute;
    background-color: gray;
    color: white;
    border-radius: 2px;
    font-size: 10px;
    bottom: -20px;
    opacity: 0;
    pointer-events: none;
    padding: 3px 8px;
    display: flex;
    flex-direction: row;
    }
    .search-button:hover .tooltip,
    .upload-icon-div:hover .tooltip,
    .youtube-app-div:hover .tooltip,
    .voice-search-button:hover .tooltip,
    .sidebar-link:hover .tooltip{
    opacity: 1;
    }
    
      
    .upload-icon,
    .youtube-apps{
    height: 24px;
    margin-top: 9px;
    }
    
    .notifications-icons{
    height: 25px;
    }
    .right-profile{
    height: 32px;
    border-radius: 16px;
    }
    .sidebar{
      background-color: white;
      position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 70px;
    z-index: 200px;
    padding-top: 5px
    }
    .vedio-time{
      position: absolute;
      right: 10px;
      bottom: 10px;
      background-color: black;
      color: white;
      border-radius: 2px;
      padding: 4px 10px;
    }
    .vedio-notification{
      background-color: rgb(229, 25, 25);
      color: white;
      position: absolute;
      top: 0;
      right: 0;
    border-radius: 8px;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    }
    .notification-div{
      position: relative;
    }
    .sidebar-link{
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
    }
    .sidebar-link:hover{
      background-color: rgb(211, 204, 204);
    }
    .sidebar-link img{
      height: 24px;
      margin-bottom: 4px;
    }
    .sidebar-link div{
      font-size: 10px;
    }
    